.alert-box {
    /*border-style: solid;*/
    /*border-width: 1px;*/
    display: block;
    font-weight: normal;
    margin-bottom: 1.11111rem;
    padding: 0.77778rem 1.33333rem 0.77778rem 0.77778rem;
    position: relative;
    transition: opacity 300ms ease-out;
    background-color: #008CBA;
    border-color: #0078a0;
    color: #FFFFFF;
}
.alert-box.success {
    background-color: #43AC6A;
    border-color: #3a945b;
    color: #FFFFFF;
}
.alert-box.warning {
    background-color: #f08a24;
    border-color: #de770f;
    color: #FFFFFF;
}
.alert-box.info {
    background-color: #a0d3e8;
    border-color: #74bfdd;
    color: #4f4f4f;
}
.alert-box.alert {
    background-color: #f04124;
    border-color: #de2d0f;
    color: #FFFFFF;
}
.alert-box.secondary {
    background-color: #e7e7e7;
    border-color: #c7c7c7;
    color: #4f4f4f;
}
.alert-box.radius {
    border-radius: 3px;
}
.alert-box .close {
    right: 0.22222rem;
    background: inherit;
    color: #333333;
    font-size: 1.22222rem;
    line-height: .9;
    margin-top: -0.61111rem;
    opacity: 0.3;
    padding: 0 6px 4px;
    position: absolute;
    top: 50%;
}
.alert-box-pop {
    position: fixed;
    left: 50%;
    padding-right: 15px;
    font-weight: normal;
    opacity: .9;
    z-index: 5000;
}