@font-face {
    font-family: 'fontello';
    src: url('../font/fontello.eot?30655044');
    src: url('../font/fontello.eot?30655044#iefix') format('embedded-opentype'),
    url('../font/fontello.woff?30655044') format('woff'),
    url('../font/fontello.ttf?30655044') format('truetype'),
    url('../font/fontello.svg?30655044#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../css/fontello.svg?55404948#fontello') format('svg');
  }
  }
}
*/

[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;

    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */

    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;

    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;

    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;

    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */

    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.animate-spin {
    -moz-animation: spin 5s infinite linear;
    -o-animation: spin 5s infinite linear;
    -webkit-animation: spin 5s infinite linear;
    animation: spin 5s infinite linear;
    display: inline-block;
}
@-moz-keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(359deg);
        -o-transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@-webkit-keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(359deg);
        -o-transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@-o-keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(359deg);
        -o-transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@-ms-keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(359deg);
        -o-transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(359deg);
        -o-transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

.icon-cab:before { content: '\e800'; } /* '' */
.icon-home-outline:before { content: '\e801'; } /* '' */
.icon-tools:before { content: '\e802'; } /* '' */
.icon-user:before { content: '\e803'; } /* '' */
.icon-mail:before { content: '\e804'; } /* '' */
.icon-right-open:before { content: '\e805'; } /* '' */
.icon-attention-circled:before { content: '\e806'; } /* '' */
.icon-location-outline:before { content: '\e807'; } /* '' */
.icon-trash:before { content: '\e808'; } /* '' */
.icon-pencil:before { content: '\e809'; } /* '' */
.icon-trash-empty:before { content: '\e80a'; } /* '' */
.icon-spin5:before { content: '\e80b'; } /* '' */
.icon-file-excel:before { content: '\e80c'; } /* '' */
.icon-ok-circled:before { content: '\e80d'; } /* '' */
.icon-user-1:before { content: '\e80e'; } /* '' */
.icon-lock-1:before { content: '\e80f'; } /* '' */
.icon-clock:before { content: '\e810'; } /* '' */
.icon-ok:before { content: '\e811'; } /* '' */
.icon-cancel:before { content: '\e812'; } /* '' */
.icon-angle-down:before { content: '\e813'; } /* '' */
.icon-download-alt:before { content: '\e814'; } /* '' */
.icon-plus:before { content: '\e815'; } /* '' */
.icon-minus:before { content: '\e816'; } /* '' */
.icon-calendar:before { content: '\e817'; } /* '' */
.icon-key:before { content: '\e818'; } /* '' */
.icon-angle-up:before { content: '\e819'; } /* '' */
.icon-ok-1:before { content: '\e81a'; } /* '' */
.icon-cancel-1:before { content: '\e81b'; } /* '' */
.icon-down-micro:before { content: '\e81c'; } /* '' */
.icon-up-micro:before { content: '\e81d'; } /* '' */
.icon-window:before { content: '\e81e'; } /* '' */
.icon-security:before { content: '\e81f'; } /* '' */
.icon-left-open:before { content: '\e820'; } /* '' */
.icon-info-circled:before { content: '\e821'; } /* '' */
.icon-plug:before { content: '\e822'; } /* '' */
.icon-desktop:before { content: '\e823'; } /* '' */
.icon-star:before { content: '\e824'; } /* '' */
.icon-resize-full-alt:before { content: '\e825'; } /* '' */
.icon-reply:before { content: '\e826'; } /* '' */
.icon-link:before { content: '\e827'; } /* '' */
.icon-paper-plane:before { content: '\e828'; } /* '' */
.icon-cloud:before { content: '\e829'; } /* '' */
.icon-chart-bar-outline:before { content: '\e82a'; } /* '' */
.icon-thumbs-up:before { content: '\e82b'; } /* '' */
.icon-down-dir:before { content: '\e82c'; } /* '' */
.icon-grid:before { content: '\e82d'; } /* '' */
.icon-align-left:before { content: '\e82e'; } /* '' */
.icon-align-center:before { content: '\e82f'; } /* '' */
.icon-align-right:before { content: '\e830'; } /* '' */
.icon-resize-small:before { content: '\e831'; } /* '' */
.icon-up-fat:before { content: '\e832'; } /* '' */
.icon-down-fat:before { content: '\e833'; } /* '' */
.icon-cancel-circled:before { content: '\e834'; } /* '' */
.icon-circle:before { content: '\e835'; } /* '' */
.icon-angle-double-right:before { content: '\e836'; } /* '' */
.icon-resize-full:before { content: '\e837'; } /* '' */
.icon-tag:before { content: '\e838'; } /* '' */
.icon-chart-line:before { content: '\e839'; } /* '' */
.icon-message:before { content: '\e83a'; } /* '' */
.icon-off:before { content: '\e83b'; } /* '' */
.icon-cog:before { content: '\e83c'; } /* '' */
.icon-macstore:before { content: '\e83d'; } /* '' */
.icon-docs:before { content: '\e83e'; } /* '' */
.icon-puzzle:before { content: '\e83f'; } /* '' */
.icon-cloud-1:before { content: '\e840'; } /* '' */
.icon-search:before { content: '\e841'; } /* '' */
.icon-qq:before { content: '\e842'; } /* '' */
.icon-wechat:before { content: '\e843'; } /* '' */
.icon-weibo:before { content: '\e844'; } /* '' */
.icon-resize-small-alt:before { content: '\e845'; } /* '' */
/* special icon button */
.icon-eye:before { content: '\e846'; } /* '' */
.icon-eye:hover:before { content: '\e843'; }
.icon-eye:active:before { content: '\e83d'; }
.icon-eye[disabled]:hover:before, .icon-eye[disabled]:active:before, .icon-eye[disabled]:before { content: '\e846'; color: #ccc; cursor: not-allowed; }