<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>
        {{ page.title }}
    </title>
    <link href="resource/global.css" rel="stylesheet">
    <link href="resource/common.css" rel="stylesheet">
    <link href="resource/fontello.css" rel="stylesheet">
    {{ page.extcss }}
</head>
<body>


<div class="header">
    <ul class="nav-bar grid">
        <li class="has-flyout">
            <a href="#">样式</a>
            <a href="#" class="flyout-toggle"><span> </span></a>
            <ul class="flyout">
                <li><a href="button.html">按钮</a></li>
                <li><a href="fontello.html">字体图标</a></li>
            </ul>
        </li>

        <li class="has-flyout">
            <a href="#">UI组件</a>
            <a href="#" class="flyout-toggle"><span> </span></a>
            <ul class="flyout">
                <li><a href="dialog.html">弹出层</a></li>
                <li><a href="tips.html">提示框</a></li>
                <li><a href="formvalidator.html">表单验证</a></li>
                <li><a href="ajax.html">异步提交</a></li>
            </ul>
        </li>

        <li class="has-flyout">
            <a href="#">库</a>
            <a href="#" class="flyout-toggle"><span> </span></a>
            <ul class="flyout">
                <li><a href="baidutemplate.html">baiduTemplate</a></li>
                <li><a href="echarts.html">echarts</a></li>
                <li><a href="unslider.html">unslider</a></li>
            </ul>
        </li>

        <li class="has-flyout">
            <a href="#">文档和规范</a>
            <a href="#" class="flyout-toggle"><span> </span></a>
            <ul class="flyout">
                <li><a href="specification-js.html">javascript</a></li>
                <li><a href="specification-css.html">css</a></li>
                <li><a href="specification-html.html">html</a></li>
                <li><a href="specification-smarty.html">smarty</a></li>
            </ul>
        </li>

        <li>
            <a href="https://github.com/iotofcmcc/docs">View On Github</a>
        </li>

    </ul>
</div>


<div id="main" class="grid doc-detail">
    {{ content }}
</div>
<script src="resource/global.js"></script>
<script src="resource/prettify.js"></script>

<script>
    (function(){
        $(function() {
            $('pre').addClass('prettyprint');
            prettyPrint();
        });
    })();
</script>
{{ page.extjs }}
</body>
</html>
