<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>
        {{ page.title }}
    </title>
    <link href="resource/css/common.css" rel="stylesheet">
    <link href="resource/css/module.css" rel="stylesheet">
    <link href="resource/css/iselect.css" rel="stylesheet">
    <link href="resource/css/ui-fontello.css" rel="stylesheet">
    {{ page.extcss }}
    <script>
        var IOT = {};
    </script>
</head>
<body class="is-onenet">

<div class="header">
</div>

<script src="resource/js/jquery-1.11.1.min.js"></script>
<script src="resource/js/jquery-iselect.js"></script>
<script src="resource/js/jquery.slimscroll.min.js"></script>
<script src="resource/js/docs.js"></script>
<script src="resource/js/prettify.js"></script>
<div id="main" class="grid doc-detail">
    {{ content }}
</div>


<script>
    (function(){
        $(function() {
            $('pre').addClass('prettyprint');
            prettyPrint();
        });
    })();
</script>
{{ page.extjs }}
</body>
</html>
