<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=1024" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title>OneNET前端研发团队</title>

    <link href="http://fonts.googleapis.com/css?family=Open+Sans:regular,semibold,italic,italicsemibold|PT+Sans:400,700,400italic,700italic|PT+Serif:400,700,400italic,700italic" rel="stylesheet" />

    <link href="resource/css/impress-demo.css" rel="stylesheet" />

    <link rel="shortcut icon" href="favicon.png" />
    <link rel="apple-touch-icon" href="apple-touch-icon.png" />

</head>

<body class="impress-not-supported">

<div class="fallback-message">
    <p>Your browser <b>doesn't support the features required</b> by impress.js, so you are presented with a simplified version of this presentation.</p>
    <p>For the best experience please use the latest <b>Chrome</b>, <b>Safari</b> or <b>Firefox</b> browser.</p>
</div>

<div id="impress">

    <div id="title" class="step" data-x="-1000" data-y="-1000" data-scale="5" style="z-index:2;">
        <q><strong>OneNET前端研发团队</strong></q>
        <img src="resource/img/team.jpg" alt="" style="width: 70%;"/>
    </div>

    <div id="data" class="step" data-x="500" data-y="-1000">
        <q><strong style="font-size: 60px;">用数据说话</strong></q>
        <ul>
            <li><span class="c993333 data-detail">5</span><span class="">人核心团队</span></li>
            <li><span class="c993333 data-detail">2.0</span><span>升级到2.0版本</span></li>
            <li><span class="c993333 data-detail">10000</span><span>注册用户数</span></li>
            <li><span class="c993333 data-detail">1000</span><span>余家高新企业</span></li>
            <li><span class="c993333 data-detail">3000</span><span>个客户问题</span></li>
            <li><span class="c993333 data-detail">50000</span><span>次与客户互动</span></li>
        </ul>
    </div>

    <div id="project" class="step" data-x="500" data-y="-1000" data-z="-3000" data-rotate="300" data-scale="0.1">
        <p><b style="font-size: 60px;">核心价值</b></p>
        <br/>
        <div style="font-size: 40px;">OneNET平台及其应用编辑器，汇集了包括家电行业、汽车行业、运输行业、农业、雷电监控行业、智能物业等领域，由此衍生的上万应用为各物联网企业和个人带来了极大的便利和活力。</div>
        <ul>
            <li>沈阳大悦城</li>
            <li>信阳启航科技</li>
            <li>中煤科工集团</li>
            <li>乐高机器人</li>
            <li>...</li>
        </ul>
    </div>

    <div id="app_editor" class="step" data-x="50" data-y="-800" data-z="-3000" data-rotate="90" data-scale="0.1">
        <q><strong style="font-size: 60px;">OneNET应用编辑器</strong></q>
        <p style="font-size: 30px;">应用编辑器是OneNET前端团队自主研发的一个设备监控系统生成器，并已生成上万个设备监控系统。OneNET应用编辑器是业界首创，形成了OneNET区别于其它云平台的核心竞争力。</p>
        <img src="resource/img/app_editor.png" alt="" style="width: 70%;"/>
    </div>

    <div id="project_chip" class="step" data-x="800" data-y="-1200" data-z="-3000" data-rotate="400" data-scale="0.1">
        <p><b style="font-size: 60px;">沈阳大悦城</b></p>
        <br/>
        <img src="resource/img/dyc0.png" alt="" style="width: 50%;display: inline-block;float: left;"/>
        <img src="resource/img/dyc001.jpg" alt="" style="width: 50%;"/>
    </div>

    <div id="project_dyc1" class="step" data-x="600" data-y="-1200" data-z="-3000" data-rotate="300" data-scale="0.1">
        <p><b style="font-size: 60px;">大悦城 环境检测</b></p>
        <br/>
        <img src="resource/img/dyc1.jpg" alt="" style="width: 65%;"/>
    </div>

    <div id="project_dyc2" class="step" data-x="700" data-y="-1300" data-z="-3000" data-rotate="300" data-scale="0.1">
        <p><b style="font-size: 60px;">大悦城 一号电井监管</b></p>
        <br/>
        <img src="resource/img/dyc2.png" alt="" style="width: 65%;"/>
    </div>

    <div id="project_dyc3" class="step" data-x="1000" data-y="0" data-rotate="90">
        <p><b style="font-size: 60px;">大悦城 电梯监管</b></p>
        <br/>
        <img src="resource/img/dyc3.png" alt="" style="width: 90%;"/>
    </div>

    <div id="project_xykj1" class="step" data-x="1700" data-y="-1500">
        <p><b style="font-size: 60px;">信阳启航科技 斧子口监控</b></p>
        <br/>
        <img src="resource/img/xykj1.png" alt="" style="width: 90%;"/>
    </div>

    <div id="project_xykj2" class="step" data-x="-2000" data-y="0" data-rotate="90">
        <p><b style="font-size: 60px;">信阳启航科技 自然灾害预警</b></p>
        <br/>
        <img src="resource/img/xykj2.png" alt="" style="width: 90%;"/>
    </div>

    <div id="project_zmkg" class="step" data-x="-1000" data-y="0" data-rotate="90">
        <p><b style="font-size: 60px;">中煤科工集团 瓦斯监控</b></p>
        <br/>
        <img src="resource/img/zmkg.png" alt="" style="width: 90%;"/>
    </div>

    <!--<div id="app_editor" class="step" data-x="0" data-y="0" data-rotate="90" data-scale="0.2">-->
    <!--<p style="font-size: 33px;">以上的例子都是基于我们的OneNET平台，基于我们的应用编辑器&#45;&#45;为客户提供最便捷的方式，OneNET首推的物联网平台应用编辑器，形成了OneNET区别于其它云平台的核心竞争力。</p>-->
    <!--<img src="resource/img/app_editor.png" alt="" style="width: 80%;"/>-->
    <!--</div>-->

    <div id="project_indp" class="step" data-x="0" data-y="0" data-z="-3000" data-rotate="300" data-scale="0.05">
        <p><b style="font-size: 60px;">除了我们的应用编辑器，我们还做了很多基于OneNET平台的端到端项目：</b></p>
        <ul>
            <li>永奥图</li>
            <li>茶园监控</li>
            <li>楚邦雷电</li>
            <li>OneNET数据迁徙</li>
            <li>OneNET热力图</li>
            <li>乐高机器人</li>
        </ul>
    </div>

    <div id="project_indp_yongao" class="step" data-x="1000" data-y="2000" data-scale="0.5">
        <p><b style="font-size: 60px;">永奥图 中美跨国项目</b></p>
        <ul>
            <li>
                <img src="resource/img/yongao1.png" alt=""  style="width: 100%;"/>
            </li>
            <li>
                <img src="resource/img/yongao2.png" alt=""  style="width: 100%;"/>
            </li>
            <li>
                <img src="resource/img/yongao3.png" alt=""  style="width: 100%;"/>
            </li>
            <li>
                <img src="resource/img/yongao4.png" alt=""  style="width: 100%;"/>
            </li>
        </ul>
    </div>

    <div id="project_indp_show" class="step" data-x="3000" data-y="2000" data-scale="0.5">
        <ul>
            <li>
                <h3>茶园监控</h3>
                <img src="resource/img/chayuan.png" alt=""  style="width: 83%;"/>
            </li>
            <li>
                <h3>楚邦雷电</h3>
                <img src="resource/img/chubang.png" alt=""  style="width: 80%;"/>
            </li>
            <li>
                <h3>OneNET数据迁徙</h3>
                <img src="resource/img/OneNETqianxi.png" alt=""  style="width: 84%;"/>
            </li>
            <li>
                <h3>OneNET热力图</h3>
                <img src="resource/img/OneNETheat.png" alt=""  style="width: 80%;"/>
            </li>
        </ul>
    </div>

    <div id="project_robot" class="step" data-x="0" data-y="2000">
        <p><b style="font-size: 60px;">乐高机器人</b></p>
        <ul>
            <li><img src="resource/img/robot1.png" alt="" style="width: 80%;"/></li>
            <li><img src="resource/img/robot2.jpg" alt="" style="width: 88%;"/></li>
            <li class="third"><img src="resource/img/robot3.jpg" alt="" style="width: 100%;"/></li>
        </ul>
    </div>

    <div id="project_robot_more" class="step" data-x="800" data-y="1000">
        <p><b style="font-size: 60px;">高交会上的Robot</b></p>
        <img src="resource/img/robot.png" alt="" style="width: 42%;"/>
    </div>

    <!--<div id="project_ioteams" class="step" data-x="1800" data-y="1000" data-rotate="90" data-scale="0.02">-->
    <!--<p><b style="font-size: 52px;">为了公司的发展壮大，我们精益求精，力臻完美，开发了部门的招聘首页</b></p>-->
    <!--<img src="resource/img/onenetjob.png" alt="" style="width: 100%;"/>-->
    <!--</div>-->

    <div id="project_english" class="step" data-x="1800" data-y="1000" data-rotate="90">
        <p><b style="font-size: 40px;">一封远洋邮件，我们开始了OneNET英文版的开发，现已正式上线，正式开启了与国外合作的大门</b></p>
        <img src="resource/img/OneNETEnglish.png" alt="" style="width: 80%;"/>
    </div>

    <div id="project_other" class="step" data-x="-500" data-y="1000">
        <p><b style="font-size: 60px;">除了正常工作范畴的，我们还尝试了很多，收获也很多</b></p>
        <ul>
            <li>外部分享</li>
            <li>创新内部流程</li>
            <li>前端分享</li>
            <li>OneNET QQ群服务</li>
            <li>技术输出</li>
            <li>日志报警系统，大数据分析</li>
            <li>BBS用户分享反馈</li>
            <li>...</li>
        </ul>
    </div>

    <div id="training" class="step" data-x="-1500" data-y="1000" data-rotate="90" data-scale="0.1">
        <p><b style="font-size: 60px;">Team Sharing</b></p>
        <img src="resource/img/team_sharing.jpg" alt="" style="width: 80%;"/>
    </div>

    <div id="taoge_training" class="step" data-x="-1800" data-y="1000" data-rotate="90" data-scale="0.1">
        <p><b style="font-size: 60px;">技术人员输出</b></p>
        <img src="resource/img/training.jpg" alt="" style="width: 80%;"/>
    </div>

    <div id="like" class="step" data-x="-1200" data-y="1000" data-rotate="90" data-scale="0.2">
        <p><b style="font-size: 60px;">群里相关人士赞扬</b></p>
        <img src="resource/img/like.png" alt="" style="width: 100%;"/>
    </div>

    <div id="project_ioteams" class="step"  data-x="-800" data-y="1000" data-rotate="180" data-scale="0.01">
        <p><b style="font-size: 52px;">为了公司的发展壮大，我们精益求精，力臻完美，开发了部门的招聘首页</b></p>
        <img src="resource/img/onenetjob.png" alt="" style="width: 100%;"/>
    </div>

    <div id="team_happy" class="step" data-x="-2000" data-y="1000">
        <p><b style="font-size: 60px;">重点来了！</b></p>
    </div>

    <div id="key" class="step" data-x="2800" data-y="1000">
        <p><b style="font-size: 40px;">我们一直致力于分享价值、创造价值，提升个人，倡导和谐，给用户带来无尽的舒适体验，同时提升公司软实力。
            <br/>但，这些都基于:</b></p>
        <ul>
            <li><span class="width160">和谐</span><span>我们没有完美的个人，但是我们有完美的团队</span></li>
            <li><span class="width160">效率</span><span>技术主导，高效的开发方式</span></li>
            <li><span class="width160">合作</span><span>人少，但是共同承担任务</span></li>
        </ul>
    </div>

    <div id="thanks" class="step" data-x="4400" data-y="2000">
        Thanks!
    </div>

    <!--<div id="displayColor" class="step" data-x="4300" data-y="1000">-->

    <!--</div>-->

    <!--<div id="HSLColor" class="step" data-x="4300" data-y="0">-->

    <!--</div>-->

    <!--<div id="HSLDetail" class="step" data-x="3800" data-y="-1000">-->

    <!--</div>-->

    <!--<div id="colorRecommend" class="step" data-x="5300" data-y="-1000">-->

    <!--</div>-->

    <!--<div id="thanks0" class="step" data-x="5600" data-y="0">-->
    <!--Thanks!-->
    <!--</div>-->


    <div id="overview" class="step" data-x="3000" data-y="1500" data-scale="10">
    </div>

</div>
<script src="resource/js/impress.js"></script>
<script>impress().init();</script>
</body>
</html>
